# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
layoutPractice/Podfile
layoutPractice/Podfile.lock
layoutPractice/layoutPractice.xcworkspace/contents.xcworkspacedata
layoutPractice/layoutPractice.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
layoutPractice/layoutPractice/DefaultDelegates/R.generated.swift
layoutPractice/Pods/Manifest.lock
layoutPractice/Pods/Pods.xcodeproj/project.pbxproj
layoutPractice/Pods/R.swift/License
layoutPractice/Pods/R.swift/rswift
layoutPractice/Pods/R.swift/Sources/RswiftResources/AssetCatalog.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/ColorResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/DataResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/FileResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/FontResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/ImageResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/NibResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/PropertyListResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/StoryboardResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/StringResource.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/Bundle+Extensions.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/ColorResource+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/DataResource+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/FileResource+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/FontResource+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/ImageResource+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/NibReference+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/ReuseIdentifier+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/SegueIdentifier+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/StoryboardReference+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Integrations/StringResource+Integrations.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/DeploymentTarget.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/LocaleReference.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/ModuleReference.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/NameCatalog.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/Reusable.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/StoryboardReference.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/StringParam+Extensions.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/StringParam.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/StringsTable.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/TypeReference.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/Unifiable.swift
layoutPractice/Pods/R.swift/Sources/RswiftResources/Shared/ValidationError.swift
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-acknowledgements.markdown
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-acknowledgements.plist
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-dummy.m
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-frameworks-Debug-input-files.xcfilelist
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-frameworks-Debug-output-files.xcfilelist
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-frameworks-Release-input-files.xcfilelist
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-frameworks-Release-output-files.xcfilelist
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-frameworks.sh
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-Info.plist
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice-umbrella.h
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice.debug.xcconfig
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice.modulemap
layoutPractice/Pods/Target Support Files/Pods-layoutPractice/Pods-layoutPractice.release.xcconfig
layoutPractice/Pods/Target Support Files/R.swift/R.swift-dummy.m
layoutPractice/Pods/Target Support Files/R.swift/R.swift-Info.plist
layoutPractice/Pods/Target Support Files/R.swift/R.swift-prefix.pch
layoutPractice/Pods/Target Support Files/R.swift/R.swift-umbrella.h
layoutPractice/Pods/Target Support Files/R.swift/R.swift.debug.xcconfig
layoutPractice/Pods/Target Support Files/R.swift/R.swift.modulemap
layoutPractice/Pods/Target Support Files/R.swift/R.swift.release.xcconfig
